input {
    all: unset;
  }
body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 1rem;
}
.image-container {
    overflow: hidden;
    padding: 0px 1rem;
}
.image-container img {
    width: 100%;
    display: block;
}
section {
    padding: 60px 0px;
}
.even-col {
    display: grid;
    gap: 2rem;
}

@media only screen and (min-width: 50rem) {
    .even-col {
        grid-template-columns: 1fr 1fr;
    }
}
h1 {
    color: white;
    font-size: 1.8rem;
    font-weight: 200;
 
}
@media (min-width: 40rem) {
    h1 {
        font-size: 2.5rem;
        font-weight: 300;
    }
}
h2, h4 {
    text-transform: uppercase;
    text-align: center;
}
h2 {
    font-size: 1.8rem;
    font-weight: 700;
}
h3 {
    font-weight: 600;
}
h4 {
    margin: 5px 0;
    letter-spacing: .5px;
}

p, li {
    color: rgb(119, 119, 119);
    line-height: 1.9;
    font-size: 14px;
}

.button {
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 4px;
    background-color: rgb(221, 51, 51);
    text-decoration: none;
    color: white;
}
.button:hover {
    background-color: rgb(181, 51, 51);;
}

.secondary-button {
    background-color: white;
    color: black;
    padding: 1rem 3rem;
    border-radius: 4px;
    text-decoration: none;
}
.secondary-button:hover {
    color:red;
}
input[type = submit] {
    text-align: center;
    background-color: red;
    text-decoration: none;
    color: white;
    padding: 20px 20px !important;
    cursor: pointer;
 }
.flex-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.line {
    width: 60px;
    height: 2px;
    background: red;
    margin: 0 auto 4rem;
}
#features, #services, #faq {
    background-color: rgb(247, 247, 247);
}
/* HEADER SECTION */
header {
    background-color: black;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header li {
    display: inline;
    padding-right: 2rem;
    text-transform: uppercase;
}
header li:last-child {
    padding-right: 0;
}
header li a {
    color: white;
    text-decoration: none;
 }
 header li a:hover {
    color:red;
 }
/* BANNER SECTION*/
.banner {
    height: 250px;
    background-image: url("https://content.codecademy.com/projects/broadway/bg.jpg");
    background-color: #0005; 
    background-blend-mode: darken;
    background-position: center;
    text-align: center;
    text-transform: uppercase;
}
.logo {
    width: 50px;
}
.banner .container {
    max-width: 650px;
}
/* FEATURE */

.features-grid {
    display: grid;
    text-align: center;
    gap: 1rem;
}
@media only screen and (min-width: 50rem) {
    .features-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
/* SERVICES */
.services-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.services-grid > *, .features-grid > * {
    background-color: white;
    border: 1px solid rgb(247, 247, 247);
    padding: 28px 5px;
    text-align: center;
}
.services-grid > * > span {
    font-weight: 600;
    letter-spacing: .03rem;
    font-size: .95rem;
}

@media only screen and (min-width: 667px) {
    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .services-grid > *, .features-grid > * {
        padding: 32px 20px;
    }
}


@media only screen and (min-width: 960px) {
    .services-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* ABOUT */
.about img {
    padding: 10px;
    width: 250px;
    margin: 0 auto;
}

/* FAQ SECTION */
#faq .container {
    max-width: 750px;
}



/* CTA */
.cta {
    padding: 2rem 1rem;
    background-color: rgb(221, 51, 51);
    text-align: center;
    text-transform: uppercase;
}
.cta h5 {
    font-size: 1.8rem;
    color: white;
}
.cta .button {
    background-color: black; 
    letter-spacing: .1rem;
}
.cta .button:hover {
    background-color: white;
    color: black;
}

/* QUOTE */
.quote p {
    margin-top: 0;
}
input {
    border-radius: 3px;
    width: 100%;
    border: 0px solid rgb(119, 119, 119);
    padding: 16px 20px;
    font-size: 1rem;
    margin-bottom: 30px;
    box-sizing: border-box;
    background-color: #F8F8F8;
}

@media only screen and (max-width: 667px) {
    .quote .col {
        flex-basis: 100%;
    }
}

.map {
    padding: 0;
}




/* FOOTER */
footer {
    text-align: center;
    background-color: rgb(23, 27, 30);
    color: white;
}
footer .container {
    max-width: 667px;
    padding: 60px 1rem;

}
footer .logo {
    margin-bottom: 2rem;
}
footer p {
    border: 1 px gray solid;
}